.dashboard-container {
  padding: 20px;
  background-image: url('../assets/background.jpg');
  height: 100vh;
  width: 100vw;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-overview, .dashboard-category, .dashboard-workout-plans, .selected-workout {
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.dashboard-overview h2, .dashboard-category h2, .dashboard-workout-plans h2, .selected-workout h2 {
  margin-bottom: 10px;
}

.dbb {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s;
  float: right;
  width: fit-content;
  font-size: 24px;
}

.dashboard-category select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.workout-plan, .selected-workout {
  background: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.workout-plan:hover, .selected-workout {
  background-color: #f0f0f0;
}

.workout-plan h3, .selected-workout h3 {
  margin-bottom: 5px;
}

.workout-plan ul, .selected-workout ul {
  list-style-type: none;
  padding-left: 0;
}

.workout-plan li, .selected-workout li {
  margin-bottom: 5px;
}
